* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 80px;
    padding: 30px 25px;
}

.nav-logo-text,
.nav-title {
    margin: 0;
    font-size: 20px;
}

.nav-logo-text {
    margin-right: auto;
    color: #61DAFB;
    font-size: 23px;
}

.nav-title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav-logo {
    height: 40px;
    margin-right: 9px;
}

.main {
    padding: 50px 30px;
    padding-left: 70px;
    color: white;
    background-image: url(./images/react-icon-large.png);
    background-repeat: no-repeat;
    background-position: right 75%;
}

.main-title {
    height: 0;
    font-size: 40px;
    letter-spacing: -0.05em;
}

.main-list {
    padding-top: 50px;
}

.main-list>li {
    line-height: 20px;
    padding-block: 10px;
}

.main-list>li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}